include "environment.kdl"
include "autostart.kdl"
include "workspaces.kdl"
include "rules.kdl"
include "binds.kdl"
include "layout.kdl"

// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

input {
    keyboard {
        xkb {
            layout "us,kr"
            options "grp:ctrl_space_toggle"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
         accel-speed -0.15
         accel-profile "flat"
    }

    trackpoint {
    }
}

output "DP-1" {
    mode "2560x1440"
    scale 1
    transform "normal"
    position x=1920 y=0
    variable-refresh-rate on-demand=true
    hot-corners {
        off
    }
}

output "DP-2" {
    mode "1920x1080"
    scale 1
    transform "270"
    variable-refresh-rate on-demand=true
    position x=4480 y=-450
    hot-corners {
        off
    }
}
output "HDMI-A-1" {
    mode "1920x1080@74.973"
    scale 1
    transform "normal"
    variable-refresh-rate on-demand=true
    position x=0 y=300
    hot-corners {
        off
    }
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 26
}

prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

clipboard {
    disable-primary
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// zoom {
//    movement-mode "cursor-follow" // "on-edge" or "centered"
//    increment-type "linear" // "exponential"
//    max-zoom 10.0
//    pinch-sensitivity 1.0
// }

// Will trim this down, since I was experimenting
// animations {
//   zoom-focal-pan      { spring damping-ratio=1.0 stiffness=1200 epsilon=0.0001; }
//   zoom-level-change   { spring damping-ratio=1.0 stiffness=800 epsilon=0.0001; }
// }

blur {
    passes 2
    offset 2
    noise 0.02
    saturation 1.5
}
