// Named workspaces
workspace "Main"
workspace "Web Browsing" {
}
workspace "Dev"
workspace "Chat" {
}
workspace "Streaming and Recording" {
}
workspace "Games" {
}
workspace "SMTK" {
}
workspace "scratch" {
}
